        <footer>
            <div class="container fixed-bottom">
                <!-- <hr> -->
                <p class="text-center">Designed by Yacine TARHI | Web Developer | 2020 © </p>
            </div>
        </footer>
    </body>
</html>