<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CDN Tags  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap" rel="stylesheet">

    <!-- Script Tags -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- CSS Tag -->
    <link rel="stylesheet" href="/style/style.css">
    <title>Budgety</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-sm fixed-top opaque-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>	
        <a class="navbar-brand" href="/">
            <span>
                <svg class="bi bi-graph-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
                    <path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z"/>
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4h-3.5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </span> 
            BUDGETY
        </a>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="nav navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="/home" id="color-text">
                        <span><ion-icon name="home-outline"></ion-icon></span>
                     Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span><ion-icon name="information-circle-outline"></ion-icon></span>
                        About
                    </a>
                </li>
            </ul>
            <div class="justify-content-end">
                <ul class="nav navbar-nav mr-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <span><ion-icon name="enter-outline"></ion-icon></span>
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" id="color-text">
                            <span><ion-icon name="person-add-outline"></ion-icon></span>
                            SignIn
                        <a>
                    </li>
                </ul>
            </div>
        </div>
</nav>


   