body {
    background-color: #000;
  }
  
  /* ============================================================================================== */
    /* NAV BAR */
  /* ============================================================================================== */
  .navbar-brand{
    color: #fff;
  }

  .navbar-brand:hover{
    color:#fff;
  }

  .nav-link{
    color: #fff;
  }
  .nav-link:hover{
    color: #b2bec3;
  }

  .opaque-navbar{
    background-color: rgba(0,0,0,0.25);
  /* Transparent = rgba(0,0,0,0) / Translucent = rgba(0,0,0,0.5)  */
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
  }

  .nav>li>a {
    transition: border-color .2s;
    -moz-transition: border-color .2s;
    -webkit-transition: border-color .2s;
    -o-transition: border-color .2s;
    border-bottom: solid 3px transparent;
  }

  .nav>li>a:focus, .nav>li>a:hover {
    border-bottom-color: white;
  }

  /* ============================================================================================== */
    /* LANDING PAGE  */
  /* ============================================================================================== */
  .btn-outline-secondary{
    color: #fff;
    border-color:#6c757d
  }

  .btn-outline-secondary:hover{
    color: #fff;
    background-color: #78909C;
    border-color:#78909C;
  }

  #landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }
  
  #landing-header h1, p{
    color: #fff;
    text-shadow: 1px 1px #000;
  }


  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite; 
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url("image1.jpg");
  }
  .slideshow li:nth-child(2) { 
    background-image: url("image2.jpg");
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url("image3.jpg");
    animation-delay: 20s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
  }

  /* ============================================================================================== */
    /* LOGIN PAGE  */
  /* ============================================================================================== */
  .form-div{
    width: 40%; 
    margin: 120px auto;
  }
  .form-div h1{
    color: #fff;
    text-align: center;
  }
  .input-group
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-link{
  color: #fff;
}

.form-link:hover{
  color: #b2bec3;
  text-decoration: none;
}
  
.form-control:focus{
    color:#000;
    background-color:#fff;
    border-color:#b2bec3;
    outline:0;
    box-shadow:0 0 0 .1rem #b2bec3;
}

/* ============================================================================================== */
    /* SIGN IN PAGE  */
/* ============================================================================================== */

  .form-div h2{
    color: #fff;
    
  }
  hr{
    background-color: #b2bec3; 
    height: 0.33px; 
    border: 0;
  }

  footer {
    font-size: small;
  }
/* ============================================================================================== */
    /* ABOUT PAGE  */
/* ============================================================================================== */

.about{
  margin-top: 120px;
  color: #fff;
  padding: 0 150px;
  text-align: justify;
}