<%- include("partials/header") %>

<div class="container about">
     <h1>About Budgety?</h1>
     <hr>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dicta, ad dolore adipisci saepe, quisquam quaerat tempore deleniti, recusandae est id fugiat distinctio sed! Perferendis suscipit libero odio placeat fugit.</p>
     <h3>About me?</h3>
     <hr>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum itaque atque nulla necessitatibus hic cum nesciunt odio velit sapiente explicabo minus totam accusamus, eum, praesentium fugit doloribus quisquam suscipit dicta!</p>
</div>

<%- include("partials/footer") %>