<%- include("partials/header") %>

<div class="container about">
     <h3>About Budgety?</h3>
     <hr>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dicta, ad dolore adipisci saepe, quisquam quaerat tempore deleniti, recusandae est id fugiat distinctio sed! Perferendis suscipit libero odio placeat fugit.</p> 
</div>

<%- include("partials/footer") %>


