<%- include("partials/header") %>

<div class="container about">
     <h3>About Budgety?</h3>
     <hr>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dicta, ad dolore adipisci saepe, quisquam quaerat tempore deleniti, recusandae est id fugiat distinctio sed! Perferendis suscipit libero odio placeat fugit.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ducimus modi architecto aperiam est porro possimus labore voluptatum voluptates, debitis eius culpa hic autem, atque officia libero? Molestiae, cupiditate reiciendis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius consequuntur est distinctio nihil pariatur quibusdam. Id illo mollitia iste similique ipsam, voluptate molestiae. Saepe perferendis rem repellendus odit fugit quam.
     Cupiditate voluptatibus perferendis aut itaque tenetur a dicta quia, eum, enim sit facilis similique dolor. Amet hic alias eos totam doloremque iste, earum eius dolore rerum vel cumque fugiat debitis!
     Nam accusantium reprehenderit ullam soluta, velit doloribus adipisci dolore quisquam sequi fugit recusandae voluptatum. Architecto, voluptate. Error repellat voluptas quibusdam vitae? Dolorum eaque ipsum earum quia fugiat harum perferendis accusantium!
     </p> 
</div>

<%- include("partials/footer") %>


