<%- include("partials/header") %>
        
    <div id="landing-header">
        <h1>WELCOME TO BUDGETY</h1>
        <p>A WEB SITE TO HANDLE YOUR BUDGET</p>
        <a href="/home" class="btn btn-lg btn-outline-secondary" id="color">Access to the website</a>        
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>      
        <li></li>      
        <li></li>
        <li></li>
        <li></li>        
    </ul>
        
<%- include("partials/footer") %>